@media screen and (max-width: 760px){
   header{
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }
    h2{
        font-size: 38px;
    }
    img{
        width:360px;
        margin-top: 100px;
    }
}