<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Minha Página</title>
</head>
<body>

<main id='page-content'>
    <section id='sect-one'>
        <!-- CONTEÚDO DA SESSÃO 1 -->
    </section>

    <section id='sect-two'>
        <!-- CONTEÚDO DA SESSÃO 2 -->
    </section>
</main>

</body>
</html>


#page-content {
   width:100%;
   display:flex;
   justify-content:space-between;
}

#sect-one, #sect-two {
   width:50%;
}


@media(max-width:768px) {
   #page-content {
      flex-direction: column;
   }

   #sect-one, #sect-two {
      width:100%;
   }
}


<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Minha Página</title>
</head>

<style>
    #page-content {
        width:100%;
        display:flex;
        justify-content:space-between;
    }

    #sect-one, #sect-two {
        width:50%;

        /* APENAS PARA VISUALIZAR, PODE APAGAR! */
        height: 500px;
        background-color:red;


    }

    @media(max-width:768px) {
        #page-content {
            flex-direction: column;
        }

        #sect-one, #sect-two {
            width:100%;
        }
    }
</style>

<body>

<main id='page-content'>
    <section id='sect-one'>
        <!-- CONTEÚDO DA SESSÃO 1 -->
    </section>

    <section id='sect-two'>
        <!-- CONTEÚDO DA SESSÃO 2 -->
    </section>
</main>

</body>
</html>


